body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* margin-bottom: 500px !important; */
    /* background: #2B2C29; */
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.moveable-control {
    border-radius: initial !important;
    border: 2px solid #027aff !important;
    background: #fff !important;
    width: 9px !important;
    height: 9px !important;
    margin-top: -4.5px !important;
    margin-left: -4.5px !important;
}

.moveable-line {
    height: 3px !important;
    background: #027aff !important;
}
  